# Screens 

# Supported laptop + 1 Monitor
hdmi=`xrandr | grep ' connected' | grep 'HDMI' | awk '{print $1}'`

if [ "$hdmi" = "HDMI-1" ]; then
  xrandr --output eDP-1 --mode 1920x1080 --pos 0x1080 --rotate normal --output HDMI-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-1 --off --output DP-2 --off
else 
  xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-1 --off --output DP-1 --off --output DP-2 --off
fi

#Supported desktop + 2 monitores
# xrandr --output DP-1 --off --output HDMI-1 --off --output HDMI-2 --mode 1920x1200 --pos 1920x0 --rotate normal --output HDMI-3 --mode 1920x1080 --pos 0x120 --rotate normal


#Composer 
picom &

#Wallpapers
# feh --bg-scale .wallpapers/minimal.png &
feh --bg-scale .wallpapers/ocean.png &
# feh --bg-scale .wallpapers/asusrog.png &
# feh --bg-scale .wallpapers/rog.jpg &
# feh --bg-scale .wallpapers/asus.jpg &
# feh --bg-scale .wallpapers/dracula.png &
# feh --bg-scale .wallpapers/forest.jpg &
# feh --bg-scale .wallpapers/forestnight.png &
# feh --bg-scale .wallpapers/firewatch.jpg &

# Icon wifi
nm-applet &

#Baterry Icon
cbatticon &

#Volumen
volumeicon &

# Mount usb
udiskie -t & 

#More info [Wiki Arch]('https://wiki.archlinux.org/title/Xprofile')
