yay/
warp-terminal/
vlc
astro/
BraveSoftware/
coc/
Code/
Code - OSS/
composer/
config/
configstore/
create-next-app-nodejs/
dconf/
eas-cli-nodejs/
flameshot/
GIMP/
github-copilot/
JetBrains/
libreoffice/
nextjs-nodejs/
obs-studio/
pulse/
pycritty/
gwenviewrc
kwalletrc
mimeapps.list
pavucontrol.ini
QtProject.conf
menus
gtk-2.0/
gtk-3.0/
Thunar/
xfce4/
volumeicon/